// custom configuration
// module.exports = {
// 	// JavaScript files
// 	'**/*.(jsx|js)': filenames => [
// 		`yarn lint:fix ${filenames.join(' ')}`,
// 		`yarn format ${filenames.join(' ')}`,
// 	],

// 	// Format MarkDown and JSON
// 	'**/*.(md|json)': filenames => `yarn format ${filenames.join(' ')}`,
// };

// Next js lint-staged config if you use eslint-plugin-next
const path = require('path');

const buildEslintCommand = filenames =>
	`yarn lint:fix && yarn format  --file ${filenames
		.map(f => path.relative(process.cwd(), f))
		.join(' --file ')}`;

module.exports = {
	'*.{js,jsx}': [buildEslintCommand],
};
